body{
    background-color: #f9d4fa;
    padding:0;
    margin: 0;
}

.background {
    background-image: url('images/2817130_cake_newyears_party_icon.png');
    background-size: cover;
    background-position: center;
    position: relative;
}
.navList .active {
    color: #000; /* Змініть на потрібний колір тексту */
    border-bottom: 3px solid #000; /* Додаємо лінію під активним посиланням */
}
.mainHead{
    padding:0;
    margin: 0;
    background-color: #f29ff5;
    display: flex;
    justify-content: space-between;
    font-family: 'Nova Square', sans-serif;
    
}
.navigate ul {
    font-size: 1.5rem;
    list-style-type: none;
    display: flex;
}

.navigate li {
    margin-right: 15px;
    position: relative;
    cursor: pointer; /* Додаємо cursor: pointer для тексту */
}

.navigate li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #502f2f;
    transform: scaleX(0); /* Додаємо це, щоб початково підкреслення було невидимим */
    transition: transform 0.3s;
}

.navigate li:hover::after {
    transform: scaleX(1); /* При наведенні розширюємо підкреслення */
}


.logo{
    display: flex;
    align-items: center;
}
.logo h1{
    justify-content: center;
    margin-left: 10px;
    font-weight: normal;
    font-family: 'Caveat', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kalam', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Playpen Sans', cursive;
}

.mainText{
    position: absolute;
    left: 70px; 
    top: 195px;
}
.mainText h2{
    font-size: 40px;
    font-family: 'Kalam', cursive;
}
.mainText nav ul {
    font-size: 20px;
    font-family: 'Kalam', cursive;
    font-family: 'Playpen Sans', cursive;
}
.icon2 img {
    position: absolute;
    left: 700px; 
    top: 84px;
    /* transform: rotate(349deg); */
}
.icon2 a{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Playpen Sans', cursive;
}
.textIcon{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Playpen Sans', cursive;
    position: absolute;
    font-size: 25px;
    left: 1137px;
    top: 398px;
    
}
.textIcon2{ 
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Playpen Sans', cursive;
    position: absolute;
    font-size: 25px;
    left: 1132px;
    top: 427px;
   
}
.WorkHalerie {
    text-align: center;
    margin-top: 550px; /* Add some top margin for spacing */
}

.WorkHalerie img {
    display: inline-block;
    margin: 5px;
    width: 250px;
    height: 350px;
    transition: transform 0.3s; 
}

.WorkHalerie img:hover {
    transform: scale(1.2); 
}

.navList a {
    text-decoration: none; /* Забираємо підкреслення */
    color: rgb(0, 0, 0); /* Змінюємо колір тексту */
}
.mojeprace{
    position: absolute;
    margin-top: 100px;
    margin-left: 67px;
}
.mojeprace img{
    display: inline-block;
    margin: 5px;
    width: 250px;
    height: 350px;
    transition: transform 0.3s; 
}
.mojeprace img:hover{
    transform: scale(1.3); 
}
.vicPhoto {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 10px; /* Add padding if needed */
    font-size: 35px;
    display: flex;
    align-items: center;
}

.vicPhoto i {
    color: rgb(225, 63, 63);
    margin-left: 5px;
}

.vicPhoto p {
    margin: 0;
}

.vicPhoto a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.cart{
    width : 600px;
    margin-top: 65px;
    margin-left: 25px;
}
.kontakt{
    margin-top: -390px;
    margin-left: 633px;
    font-size: 22px;
}
.imgCake{
    position: absolute;
    margin-top: -80px;
    margin-left: 990px;
}
.cenikList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
    width: 1000px;
    font-size: 20px;
}

.cenikList ul {
    list-style-type: none;
    
    padding: 0;
    margin: 0;
    font-family: 'Caveat', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Playpen Sans', cursive;
}

.cenikList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f29ff5;
    padding: 10px;
    margin: 5px;
    border-radius: 21px;
}
.fild {
    position: absolute;
    background-color: #f29ff5;
    padding: 20px;
    border-radius: 21px;
    margin-top: -545px;
    margin-left: 592px;
    width: 300px;
    height: 217px;
    font-size: 20px;
    font-family: 'Caveat', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kalam', cursive;
    font-family: 'Playpen Sans', cursive;
}
.fillings{
    position: absolute;
    background-color: #f29ff5;
    padding: 20px;
    border-radius: 21px;
    margin-top: -492px;
    margin-left: 1010px;
    width: 300px;
    font-size: 20px;
    font-family: 'Caveat', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kalam', cursive;
    font-family: 'Playpen Sans', cursive;
}
.krem{
    position: absolute;
    background-color: #f29ff5;
    padding: 20px;
    border-radius: 21px;
    margin-top: -257px;
    margin-left: 592px;
    width: 300px;
    font-size: 20px;
    font-family: 'Caveat', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kalam', cursive;
    font-family: 'Playpen Sans', cursive;
}
.recording{
    position: fixed;
    
    transform: translateX(-20%);
    right: 0;
}

.form-group {
    margin-bottom: 15px; /* Додайте відступ між групами елементів форми */
}

label {
    display: block; /* Робить елемент label блоковим, розташовує його на новому рядку */
}
.rating {
    font-size: 24px;
}

.star {
    cursor: pointer;
    color: rgb(0, 0, 0)000;
    display: inline-block;
    margin-right: 5px;
}

.star:hover,
.star.active {
    color: #ffcc00;
}
#recenze-imput {
    resize: none; 
}

.form-group button{
    text-align: center;
}
button,
input[type="submit"] {
    width: 20%; /* або будь-яка інша ширина, яку ви хочете встановити */
    height: 30px; /* або будь-яка інша висота, яку ви хочете встановити */
    box-sizing: border-box;
    margin: 0 auto; /* Горизонтальне вирівнювання кнопки по центру */
    display: block;
}
.comment-block {
    display: flex;
    flex-direction: column; /* Розташовувати дочірні елементи в стовпці */
    background-color: #f29ff5;
    margin: 15px;
    border-radius: 21px;
    width: 30%;
    padding: 10px; /* Відредагуйте відступ для кращого місця */
}
.comment-block p {
    margin: 0; /* Вилучіть відступ за замовчуванням для абзаців */
}
.comment-block h3{
    font-size: 24px;
    margin-top: -16px;
}
#em{
    margin-top: -33px;
    font-size: smaller; /* Зменшити розмір шрифту */
    text-decoration: underline;
}
#time{
    font-size: 12px;
}
.comment-block-main{
    display: flex;
    margin-left: -10px;
    flex-direction: column; /* Розташовувати дочірні елементи в стовпці */
    background-color: #f9fdfe;
    margin: -7px;
    border-radius: 21px;
    padding: 10px; 
}
.recording{
    display: flex;
    background-color: #f29ff5;
    flex-direction: column;
    margin-left: 5px;
    margin: 15px;
    border-radius: 21px;
    align-items: center;

}
#name-input,
#email-input {
border-radius: 10px;
margin: 5px;
}
#recenze-imput {
    resize: none;
    margin: 5px;
}
.stars{
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    margin-top: -15px;
}
.icon{
    display: none;
}
@media screen and (max-width: 708px){
    body{
        font-family: 'Caveat', cursive;
    font-family: 'Exo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kalam', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Playpen Sans', cursive;
    }
    .icon2 img {
        display: none;
    }
    .icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .mainHeader{
       
    }
    ul.navList {
        display: none;
    }

    .navList.show-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: #f29ff5;
        height: 170px;
        position: fixed;
        top: -25px;
        left: -16px;
        width: 100%;
        z-index: 100; /* Higher z-index for the menu to be in the forefront */
    }

    .navList.show-menu a {
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        /* Add any additional styles for the list items */
    }
    .navList a {
        margin-top: 10px;
    }
    .icon {
        position: relative;
        z-index: 101; 
        top:20px;
        right: 20px;
    }
    .mainText{
        left: 3px;
        top: 76px;
    }
    
    .WorkHalerie{
        margin-top: 440px;
    }
    .cenikList {
        margin-left: 52px;
        padding: 0px;
        width: 629px;
    }
    .fild{
        position: absolute;
        margin: 0;
        width: 264px;
        top: 663px;
        margin-left: 52px;
    }
    .krem {
        position: absolute;
        width: 264px;
        margin-left: 52px;
        margin-top:  291px;
    }
    .fillings{
        position: absolute;
        width: 264px;
        margin-left: 52px;
        margin-top:  549px;
    }
    .kontakt{
        margin-left: 0px;
        margin-top:  0px;
    }
    .imgCake {
        display: none;
    }
    .cart {
        max-width: 100%;
        margin-top: 15px;
        margin-left: 0px;

    }
    .recording {
        position: absolute;
        top: auto; /* Align to the top of the screen */
        right: 0;
        background-color: #f29ff5;
        border-radius: 21px;
        left: 83px;
        padding: 15px; /* Adjust padding as needed */
        z-index: 99; /* Lower z-index for the .recording section */
        width: 360px; /* Limit the width to 80% of the viewport */
        box-sizing: border-box; /* Include padding and border in the total width */
        align-items: flex-start;
    }
    #recenze-imput {
        width: 310px;
    }
    #comment-field{
        position: absolute;
        left: 14px;
        top: 621px;
    }
    .comment-block {
        width: auto;
    }
    .stars{
        width: 140px;
    }
    .cart iframe {
        width: 100%; 
    }
}
